*.o
src/bgp-explain
src/msort-test
src/compresspoc
test/misalignment
test/mrt-header
test/shift
*.swp
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/mrt-tools.substvars
debian/mrt-tools
rpm/BUILD
rpm/RPMS
rpm/BUILDROOT
rpm/SOURCES
rpm/SPECS
rpm/SRPMS
